table {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-collapse: separate;
    
}
/* Top Left */
table tr:first-child th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}
/* Top Right */
table tr:first-child th:last-child{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}


.dataTables_wrapper {
	  
  margin-bottom: 30px;
}

/* Search Bar */
.dataTables_filter {
  float: none;
  padding-top: 10px;
  margin-bottom: 20px;
}

/* Table */

table.dataTable thead {
   
  background-color: #94C83E;
}

table.dataTable tr.odd {
  background-color: white;
}

table.dataTable tr.even {
  background-color: white;
}

table.dataTable tr.odd td.sorting_1 {
  background-color: white;
}

table.dataTable tr.odd td.sorting_2 {
  background-color: white;
}

table.dataTable tr.odd td.sorting_3 {
  background-color: white;
}

table.dataTable tr.even td.sorting_1 {
  background-color: white;
}

table.dataTable tr.even td.sorting_2 {
  background-color: white;
}

table.dataTable tr.even td.sorting_3 {
  background-color: white;
}

table.dataTable thead th {
  text-align: center;
  border: 1px solid #d4d4d4;
  font-size: 13px;
  vertical-align: middle;
}

table.dataTable td {
  border: 1px solid #d4d4d4;
}

/*
 * Pagination
 */
.dataTables_paginate {
  margin-top: 5px;
  border-bottom: 1px solid #d4d4d4;
}

.paginate_enabled_previous {
  background: url('../../images/libs/dataTables/back_enabled.png')
    no-repeat top left;
}

.paginate_enabled_previous:hover {
  background: url('../../images/libs/dataTables/back_enabled.png')
    no-repeat top left;
}

.paginate_disabled_previous {
  background: url('../../images/libs/dataTables/back_disabled.png')
    no-repeat top left;
}

.paginate_enabled_next {
  background: url('../../images/libs/dataTables/forward_enabled.png')
    no-repeat top right;
}

.paginate_enabled_next:hover {
  background: url('../../images/libs/dataTables/forward_enabled.png')
    no-repeat top right;
}

.paginate_disabled_next {
  background: url('../../images/libs/dataTables/forward_disabled.png')
    no-repeat top right;
}

/* Two button pagination - previous / next */
.paginate_enabled_previous,.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #94C83E !important;
}

.paginate_disabled_previous,.paginate_disabled_next {
  height: 19px;
  float: left;
  cursor: pointer !important;
  *cursor: pointer;
  color: #666666 !important;
  text-decoration: none !important;
}

/*
 * Sorting
 */
.sorting {
  background: url('../../images/libs/dataTables/sort_both.png') no-repeat
    center right;
}

.sorting_asc {
  background: url('../../images/libs/dataTables/sort_asc.png') no-repeat
    center right;
}

.sorting_desc {
  background: url('../../images/libs/dataTables/sort_desc.png') no-repeat
    center right;
}

.sorting_asc_disabled {
  background: url('../../images/libs/dataTables/sort_asc_disabled.png')
    no-repeat center right;
}

.sorting_desc_disabled {
  background: url('../../images/libs/dataTables/sort_desc_disabled.png')
    no-repeat center right;
}

/* Info */
.dataTables_info {
  font-style: italic;
  margin-top: 5px;
}