/* 
---------------[Content]---------------
--- 1. GENERAL
--- 2. HEADER
--- 3. MAIN MENU
--- 4. SECONDARY MENU
--- 5. BODY
--- 6. SECTIONS
--- 7. FOOTER
---------------------------------------
*/

/************* 1. GENERAL ***************/
a,a:active,a:visited,a:hover {
  color: black;
  text-decoration: none;
}

select {
   width: 100%;
}

.clearfix:before,.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.red {
  color: red;
}

ul.fieldError li {
  color: red;
  list-style-type: none;
  text-align: left;
}

fieldset {
  padding: 10px 20px 20px;
  margin: 0 0 30px;
  border: 1px solid silver;
}

legend {
  text-align: center;
  padding: 5px;
  margin: 0;
}

textarea {
  width: 93%;
  height: 70px;
}

.helpBlock textarea{
  width: 100%;
  height: 70px;
}

.helpBlock .input{
  width: 93%;
  float: left;
}

input[type="radio"] {
  margin-left: 15px;
  margin-right: 3px;
}

.halfPartBlock .checkbox input{
  width: 15px;
  margin-left: 20px;
}

.halfPartBlock .checkbox h6{
  display: inline;
  width: 30%;
  width: 29%\0/; /*hack for IE8 & IE9*/
}

.checkboxGroup input {
  margin-left: 0px;
  width: 14px;
}

.checkboxGroup .checkboxLabel {
  display: inline-block;
  font-size: 11px;
  width: 30%;
  width: 29%\0/; /*hack for IE8 & IE9*/
}

.removeLink {
  display: block;
  text-align: right;
}

.removeLink img, .removeLink a {
  vertical-align: middle;
}

.addLink{
  margin : 10px 5px 2px;
}

.addLink img, .addLink a {
  vertical-align: middle;
}

/* General Messages */
#generalMessages {
  margin-top: 20px;
  text-align: center;
}

#generalMessages ul {
  width: 80%;
}

.charCount {
  color: #888888;
  font-size: 10px;
  margin-right: 25px;
  text-align: right;
}

a.popup-link {
border-radius: 2px;
box-shadow: 1px 1px 3px #AAAAAA;
padding: 1px 10px;
}

.clear-both{
	clear:both;
}

/************* 2. HEADER ***************/
body {
  text-align: center;
}

.container {
  background-image: url("../../images/global/header-background.jpg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 1100px;
  height: 100%;
  text-align: left;
  display: inline-block;
  margin: 30px auto;
  
  /* SHADOW */
  -webkit-box-shadow: 2px 7px 29px #5A5E59; /* Safari and Chrome */
  box-shadow: 2px 7px 29px #5A5E59;
  /* For IE 8 */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#5A5E59,Strength=10)";*/
  
}

.popup_container {
  width: 600px;
  text-align: center;
}

.popup_container .header {
  text-align: center;
  margin: 0px;
}

.popup_container .content {
  width: 570px;
  padding-top: 0;
}

.popup_container h1 {
  text-align: left;
}

.outside_popup_container {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.outside_popup_container .header {
  text-align: center;
  margin: 0px;
}

.outside_popup_container .content {
  width: 570px;
  padding-top: 0;
}

.outside_popup_container h1 {
  text-align: left;
}

#userInfo {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

#userInfo .email {
  color: #94C83E;
  font-size: 15px;
  font-weight: bold;
}

#userInfo .logout {
  background-color: #94C83E;
  margin-left: 15px;
  padding: 2px 10px;
  border-radius: 5px;
  border-bottom: 2px solid #94C83E;
}

#userInfo .logout a {
  color: #005DAC;
  font-weight: bold;
}

#mainLogo {
  float: left;
}

#mainLogo img {
  margin-left: 75px;
  margin-top: 20px;
}

#ccafsLogo {
  float: left;
}

#ccafsLogo img {
  margin-left: 80px;
  margin-top: 20px;
}

/************* 3. MAIN MENU ***************/
nav#mainMenu {
  width: 100%; 
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  
} 
nav#mainMenu ul{
  list-style-type: none;
  /* height: 40px; */
  margin: 0 auto;
  text-align: center;
} 
nav#mainMenu ul li {
  height: 40px;
  width: 91px;
  display: inline;
  background: #FFFFFF;
  padding: 11px 35px 12px 33px;
  border: 1px solid #005DAC;
  font-weight: bold;
  margin: -3px;
  color: #005DAC;
}
nav#mainMenu ul li.currentSection {
  background-image: url("../../images/global/mainMenuMarker.png");
  font-weight: bold;
  color: #fff; 
}
nav#mainMenu ul a.disabled li{
  color: #b7bcc1;
}


/*************** SECONDARY MENU ***********/
#secondaryMenu {
  background-color: #FFFFFF;
  float: left;
  margin-top: 22px;
  padding: 0px;
  width: 184px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

#secondaryMenu ul {
  list-style-type: none;
  margin-left: 0;
}

#secondaryMenuBar {
  background: #FFFFFF;
  height: 0px;
  border-radius: 3px 5px 0px 0px;
  border-bottom: 4px solid #FFFFFF;
  position: relative;
  top: 0px;
}

a.currentReportingSection li {
  margin-left: 12px;
  margin-top: -5px;
  color: #fff;
  font-weight: bold;
}
.icon-15{ 
  height: 15px;
  width:15px; 
}
.icon-20{
  float: left;
  height: 20px;
  width:20px; 
}

.icon-s{
  float: left;
  height: 25px;
  width:25px; 
}
#i-mainInformation{ 
	background:url('../../images/global/sprite-icons.png') 0 0; 
}

#i-objectives{ 
	background:url('../../images/global/sprite-icons.png') 0 -40px; 
}

#i-deliverables{ 
	background:url('../../images/global/sprite-icons.png') 0 -80px; 
}

#i-partners{ 
	background:url('../../images/global/sprite-icons.png') 0 -120px; 
}

#i-locations{ 
	background:url('../../images/global/sprite-icons.png') 0 -158px;
}

#i-additionalInformation{ 
	background:url('../../images/global/sprite-icons.png') 0 -198px; 
}

#i-budget{ 
	background:url('../../images/global/sprite-icons.png') 0 -235px; 
}
#i-budget{ 
	background:url('../../images/global/sprite-icons.png') 0 -235px; 
}

#i-comment{ 
	background:url('../../images/global/sprite-icons.png') 0 -272px; 
}

#i-indicators{ 
	background:url('../../images/global/sprite-icons.png') 0 -414px; 
}

#i-publications{ 
	background:url('../../images/global/sprite-icons.png') 0 -308px; 
}

#i-materials{ 
	background:url('../../images/global/sprite-icons.png') 0 -342px; 
}

#i-outreachs{ 
	background:url('../../images/global/sprite-icons.png') 0 -378px; 
}

a.currentReportingSection li #i-mainInformation{ 
	background:url('../../images/global/sprite-icons.png') -25px 0; 
}

a.currentReportingSection li #i-objectives{ 
	background:url('../../images/global/sprite-icons.png') -25px -40px; 
}

a.currentReportingSection li #i-deliverables{ 
	background:url('../../images/global/sprite-icons.png') -25px -80px; 
}

a.currentReportingSection li #i-partners{ 
	background:url('../../images/global/sprite-icons.png') -25px -120px; 
}

a.currentReportingSection li #i-locations{ 
	background:url('../../images/global/sprite-icons.png') -25px -158px; 
}

a.currentReportingSection li #i-additionalInformation{ 
	background:url('../../images/global/sprite-icons.png') -25px -198px; 
}

a.currentReportingSection li #i-budget{ 
	background:url('../../images/global/sprite-icons.png') -25px -236px; 
}

a.currentReportingSection li #i-comment{ 
	background:url('../../images/global/sprite-icons.png') -25px -272px; 
}

a.currentReportingSection li #i-indicators{ 
	background:url('../../images/global/sprite-icons.png') -25px -414px; 
}

a.currentReportingSection li #i-publications{ 
	background:url('../../images/global/sprite-icons.png') -25px -308px; 
}

a.currentReportingSection li #i-materials{ 
	background:url('../../images/global/sprite-icons.png') -25px -342px; 
}

a.currentReportingSection li #i-outreachs{ 
	background:url('../../images/global/sprite-icons.png') -25px -378px; 
}

#secondaryMenu ul a {
  display: list-item;
  height: 26px;
  margin-left: 0px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-top: 14px;
  border-bottom: 1px solid #dbdbdb;
  color: #636368;
}


#secondaryMenu ul a.currentReportingSection {
  color: white;
  background-image: url("../../images/global/reportingMenuMarker.png");
  background-repeat: no-repeat;
  width: 220px;
  margin-left: -12px;
  border: none;
}

#arrowDown {
  float: left;
  margin-left: -40px;
  margin-top: 40px;
}

/*************** REPORTING STEP MENU ****************/
#stageMenu {
  display: block;
}

#stageMenu a li {
  display: inline;
}

/*************** BODY ****************/
.content {
  margin: 10px 60px;
  padding: 20px;
}

.fullContent {
  padding: 10px;
}

.halfContent {
  float: right;
  padding: 10px;
  width: 700px;
}

.content a,.halfContent a, #footerContainer a, 
.content a:hover,.halfContent a:hover, #footerContainer a{
  color: #366506;
}

.content h1 {
  border-bottom: 2px solid #94C83E;
  color: #94C83E;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}

.halfContent h1 {
  border-bottom: 2px solid #94C83E;
  color: #94C83E;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}

.fullContent h6+*, .halfContent h6+* {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

.fullBlock {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.helpBlock {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.helpBlock .input input{
  width: 93%;
}

.helpBlock .textArea{
	float: left;
	width: 93%;
}

.helpBlock .select{
    float: left;
    width: 93%;
}

.helpImg {
	float: left;
}

.helpImgRight {
	float: right;
}

.helpImg img{
	width: 15px;
}

.helpImgRight img{
	width: 15px;
}

.helpImg .margin-img{
	margin-top: 18px;
	margin-left: -20px;
}

.helpImg .margin-img-full{
	margin-top: 18px;
	margin-left: -10px;
}

.helpImg .margin-img-partner{
	margin-top: 18px;
	margin-left: -2px;
}

.fullBlock .input input{
  width: 93%;
}

.thirdPartBlock {
  display: inline-block;
  padding: 5px;
  width: 30%;
}

.halfPartBlock {
  display: inline-block;
  padding: 5px;
  width: 45%;
}

.halfPartBlock input {
  width: 80%;
  float: left;
}

.helpHalfPartBlock {
  display: inline-block;
  padding: 5px;
  width: 47%;
  float: left;
}

.helpHalfPartBlock .input {
  width: 90%;
  float: left;
}

.helpHalfPartBlock input {
  width: 90%;
  float: left;
}

.helpHalfPartBlock .select{
  width: 80%;
  float: left;
  margin-right: 10px;  
}

.itemIndex {
  font-size: 15px;
  font-weight: normal;
  color: #663300;
  text-align: center;
  text-decoration: underline;
}

.itemIndexLeft {
  font-size: 15px;
  font-weight: normal;
  color: #663300;
  text-align: left;
  text-decoration: underline;
}

.countriesBlock select {
  height: 200px;
  border: 1px solid #E5E5E5;
}

.imageBlock {
  margin-top: 20px !important;
}

.imageBlock .image {
  border: 1px solid #E5E5E5;
  background-color: #fafafa;
  height: 160px;
  text-align: center;
  margin-right: 91px;
  width: 235px;
  float: right;  
}

.imageBlock .image img {
  height: 160px;
  max-height: 160px;
  width: auto;
  max-width: 100%;
}

.imageBlock .browseInput {
  padding: 65px 0;
  float: left;
}

.imageBlock .clear{
  clear: both;
}

.buttons {
  display: block;
  margin: 10px;
  text-align: right;
}

.buttons button {
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-size:12px;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
}

.buttons button[name=save] {
    color:#005DAC;
}

.buttons button[name=save]:hover{
    background-color:#E6EFC2;
    border:1px solid #94C83E;
    color:#005DAC;
}

.buttons button[name=next] {
    color:#005DAC;
}

.buttons button[name=next]:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}

.buttons button[name=cancel] {
    color:#d12f19;
}

.buttons button[name=cancel]:hover{
  background:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}

.buttons button[name=approve] {
    color:#005DAC;
}

.buttons button[name=approve]:hover{
    background-color:#E6EFC2;
    border:1px solid #94C83E;
    color:#005DAC;
}

.buttons button[name=comment] {
    color:#005DAC;
}

.buttons button[name=comment]:hover{
    background-color:#E6EFC2;
    border:1px solid #94C83E;
    color:#005DAC;
}

.buttons button[name=confirm] {
    color:#005DAC;
}

.buttons button[name=confirm]:hover{
    background-color:#E6EFC2;
    border:1px solid #94C83E;
    color:#005DAC;
}

.helpMessage { 
  position: relative;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 8px rgba(0,0,0,.3);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3); 
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  padding: 10px;
  border: 1px solid #E0F5BC;
  background: #E0F5BC;	
}

.helpMessage img {
  float: left;
  padding: 5px;
}

.helpMessage p {
  padding: 10px;
  color: #636368;
}

.subhelpMessage1 { 
  position: relative;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 8px rgba(0,0,0,.3);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3); 
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  padding: 10px;
  border: 1px solid #F3FF8A;
  background: #F3FF8A;	
}

.subhelpMessage1 img {
  float: left;
  padding: 5px;
}

.subhelpMessage1 p {
  padding: 10px;
  color: #636368;
}

.subhelpMessage2 { 
  position: relative;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 8px rgba(0,0,0,.3);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3); 
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  padding: 10px;
  border: 1px solid #BCC4F5;
  background: #BCC4F5;	
}

.subhelpMessage2 img {
  float: left;
  padding: 5px;
}

.subhelpMessage2 p {
  padding: 10px;
  color: #636368;
}

.budget-table{
	
}

.budget-table table{
	border: 1px solid #000;
	font-size: 12px;
}

.halfContent .budget-table h6 + * {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
}

.budget-table table tr td, .budget-table table tr th{
	border: 1px solid #000;
	padding: 4px 4px 4px 4px;
}

.budget-table table tr th{
	text-align:center;
	padding-top: 5px;
}

.budget-table input{
	width:70px;
	text-align: right;
}

.budget-table label{
	display:none;
}

#budget-def-table {
}

#budget-def-table table {
	border: 1px solid #000;
	font-size: 12px;
	font-weight: bold;
}

#budget-def-table table tr th{
	text-align:center;
	padding-top: 5px;
	background: #94C83E;
}

#budget-def-table table tr td, #budget-def-table table tr th{
	border: 1px solid #000;
	padding: 4px 4px 4px 4px;
}

.col-one{
	padding: 2px 10px;
	font-weight: bold;
	width:250px;
}

.sub-total{
	background: #CDED98;
}

.total {
	background: #B4D67C;
}

/************* LOGIN *****************/
#loginFormContainer {
  margin: 10px 0;
  text-align: center;
}

#loginFormContainer .loginForm {
  background-color: #BAEB6A;
  margin: auto;
  padding: 10px;
  width: 250px;
}

#loginFormContainer .loginForm div {
  margin-bottom: 10px;
  margin: 15px 0;
  text-align: left;
}

#loginFormContainer .loginForm div label {
  display: block;
}

#loginFormContainer .loginForm div input {
  width: 98%;
}

#loginFormContainer .alreadyLogged {
  font-size: 20px;
}

#loginFormContainer .alreadyLoggedEmail {
  color: grey;
  font-size: 15px;
  font-weight: bold;
}

#reportComponent {
  margin: 5px;
}

#reportComponent thead {
  border-bottom: 2px solid;  
}

#reportComponent td, #reportComponent th {
  padding: 5px;
  width: 160px;
}
#reportComponent tbody tr {
  border-bottom: 1px solid #9D9D9D;
}

/***** PLANNING *****/

#mainInformation .commisioned{
  font-weight: bold;
}

#mainInformation .continuation{
  font-weight: bold;
}

#activityListPlanning #addActivity a {
  background: url('../../images/global/sprite-icons-activities.png') 3px 3px #94C83E no-repeat;
  color: #FFF;
  padding: 6px 10px 6px 22px;
  width: 83px;
  float: left;	
  border-radius: 2px;
}

#activityListPlanning #addActivity a:hover{
	background-color: #576A2D;
}

#activityListPlanning #addActivity input {
	float: left;
	margin-right: 10px;
}
	
#activityListPlanning #addActivity select {
	margin-left: 40px;
}
	
#activityListPlanning form.buttons{
	margin : 0;
}

#activityListPlanning .activityTable .buttons button{
  padding: 0 0 0 15px;
}

#activityListPlanning .buttons button{
  padding: 3px 15px;
}

 #submitButtonBlock {
  clear: both;
  color: #663300;
  display: block;
  font-weight: bold;
  margin-top: 30px;
  text-align: center !important;
}

#submitButtonBlock button#submitForm_save{
  background: url('../../images/global/sprite-icons-activities.png') 30px -103px #657A36 no-repeat;
  width: 146px;
  height: 28px;
  font-weight: bold;
  color: #FFFFFF;
}

#activityListPlanning #submitButtonBlock button#submitForm_save.disabled{
  background: url('../../images/global/sprite-icons-activities.png') 30px -103px #F1F1F1 no-repeat;
  color: #BBB;
  border: 1px solid #DDD;
  cursor : auto;
}

#submitButtonBlock button#submitForm_save:hover {
	background-color: #576A2D;
}
	
#activityListPlanning #submitButtonBlock button#submitForm_save.disabled:hover {
	background-color: #F1F1F1;
}
	
#activityListPlanning .workplanSubmitted {
  color: #FF0000;
  margin-top: 10px;
  text-align: center;
}

#activityListPlanning .noActivities {
  margin-top: 20px;
  text-align: center;
}

.activityLocations fieldset > div > h6{
  display: none;
}

.activityLocations #countryLocations input{
  margin-left : 15px;
}

.activityLocations #countryLocations label{
  font-size : 11px;
}

#additionalInformation #otherKeywordsList h6{
  display : none;
}

#additionalInformation .otherKeywordsHelp{
  margin-left: 15px;
  font-size: 11px;
}

#additionalInformation #resourcesList input{
  width: 90%;
  float: left;
  margin-bottom: 8px;
}

#additionalInformation #resourcesList img{
  float: right;
  margin: 5px 10px 0 0;
}

/****** REPORTING **********/
/********* Activity Reporting Sub Menu **********/
#stageMenu {
  display: block;
  margin: 12px;
  text-align: center;
}

#stageMenu a {
  background-image: url("../../images/global/sub-menu.png"); 
  background-repeat: no-repeat;
  display: inline-block; 
  color: #585858;
  padding: 7px 3px;
  height: 32px;
  width: 145px;
  margin-left: -38px;
}

#stageMenu a:hover {
  color: #000;
}

#stageMenu a.currentReportingSection {
  background-image: url("../../images/global/sub-menu-selected.png"); 
  font-weight: bold;
}

#stageMenu a li {
  display: inline-block;
  margin-top: 6px;
  margin-left: inherit;
}
/*************** HOME ****************/

/* Activities */
.activityInformation .fullBlock.name{
  margin-bottom: 0px;
  padding: 2px 5px;
}

.activityInformation  .halfPartBlock{
  padding: 2px 5px;
}

.activityInformation .label{
  padding: 2px 5px;
  font-weight: bold;
}

.activityInformation ol{
  margin-top: 10px;
}

.activityInformation ol li{
  margin-bottom: 15px;
}

#country_locations{
  height: 219px;
  width: 100%;
}

#other_locations{
  height: 219px;
  width: 100%;
}

/*  
    This styles are aplied to the divs generated by the plugins
    used to show the maps  
*/

#country_locations  div[style]{
  display : block !important;
  position: static !important;
}

#country_locations > div + div[style]{
  display : none !important;  
}

/************ ACTIVITIES ***************/


#i-addActivity{ 
	background:url('../../images/global/sprite-icons-activities.png') 0 0; 
}
#i-checkedActivity{ 
	background:url('../../images/global/sprite-icons-activities.png') 0 -24px; 
}
#i-errorCheckedActivity{ 
	background:url('../../images/global/sprite-icons-activities.png') 0 -45px; 
}
#currentActivities .inline{ 
	background: url('../../images/global/sprite-icons-activities.png') 0 -67px no-repeat; 
	border:none;
	width: 100%;
	color: #630;
	font-size: 13px;
	padding: 0 0 0 20px;
}
button#activities_save{ 
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    border-color: #eee #dedede #dedede #eee;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #005dac;
    cursor: pointer;
    font-size: 12px;
    margin: 0 7px 0 0;
    padding: 5px 10px 6px 7px;
}
#i-neutralActivity{ 
	background:url('../../images/global/sprite-icons-activities.png') 0 -90px; 
}
#i-submitActivity{ 
	background:url('../../images/global/sprite-icons-activities.png') 0 -150px; 
}


/* Activity List */
.activityList {
  margin-top: 20px;
}

.activityList #id {
  width: 20px;
}

.activityList #activity {
  width: 440px;
}

.activityList #contactPerson {
  width: 100px;
}

.activityList #leaderName {
  width: 100px;
}

.activityList #validated {
  width: 64px;
}

.activityList #theme {
  width: 76px;
}

.activityList #lastModified {
  width: 80px;
  text-align: center;
}

.activityList td {
  text-align: center;
}

.activityList td.left {
  text-align: left;
}

.activityList a:HOVER {
  text-decoration: underline;
}

/** Activity Status **/
#activityTitle p {
  text-align: justify;
}

#activityDescription p {
  text-align: justify;
}

#generalInformation .title {
  font-weight: bold;
}

#generalInformation td {
  width: 160px;
  padding: 3px;
}

/* Deliverables */
#items #fileNameMessage {
  display: none;
}

ul#deliverablesFilesMessages > li {
  margin-bottom: 10px;
}

/*** Contact Persons (popup) ***/
#contactPersons {
  display: none;
}

#contactPersonsTable th {
  background-color: #A6A6A6;
  border: 1px solid;
  padding: 0.2em;
  text-align: center;
}

#contactPersonsTable td {
  background-color: white;
  border: 1px solid;
  padding: 0.3em 0.5em;
}

/* Partners */
#addPartnerText {
  background-color: #F2F2F2;
  border: 1px solid #29336F;
  padding: 10px;
  color: #29336F;
}
#addPartnerText a {
  font-weight: bold;
}
#addPartnerText a:hover {
  text-decoration: underline;
}

/* Publications */
#publications .journalArticlesIndicators .checkbox h6{
	font-weight: normal;
	font-size: 11px;
}

#publications .checkbox input{
	float: left;
	margin-left: 10px;
}

#publications .checkbox > label {
	float: right;
  width: 95%;
}


#publications .checkboxGroup .checkboxLabel {
    width: 46%;
}

#publications .journalArticlesIndicators,
#publications #ccafsAcknowledge{
	margin-bottom: 25px;
}

/******** SUMMARY BY OUTPUTS ***********/
.outputTitle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.outputDescription {
  margin-bottom: 10px;
}

#outputSummary .outputSummary .textArea h6 {
  display: none;
}
/*********** PUBLICATIONS **************/
/*********** CASE STUDIES **************/
/************* OUTCOMES ****************/
.outcome .textArea h6 {
  font-weight: normal;
}

/************* INDICATORS ****************/
#indicators .toggleDescription{
  cursor: pointer;
  font-size: 11px;
  margin-left: 10px;
}

/************ TL/RPL ONLY **************/
/* TL/RPL Sub-Menu */
#stageMenu.tlRplSubMenu ul a li {
   font-size: 12px;
   margin-top: 2px;
   width: 110px;
   margin-left: -36px;
}

/* TL Outputs */
#outputsGroup .textArea h6 {
  display: none;
}
/* TL/RPL Synthesis Report */
#synthesisReport .textArea h6 {
  font-weight: normal;
}
/* TL/RPL Milestone Report*/
#tlRplMilestones legend {
  font-size: 15px;
  font-weight: bold;
}

#tlRplMilestones .milestoneReportTitle {  
  font-size: 12px;
  margin-bottom: 10px;
}

#tlRplMilestones .milestoneReportDescription {
  font-style: italic;
  margin-bottom: 10px;
}

.milestoneReportStatus {
  margin-bottom: 10px;
}

.tlDescription, .rplDescription {
  margin-bottom: 10px;
}

/* -------------- SUMMARIES -----------------*/

#activitiesSummaries h6{
  margin-top : 10px;
  margin-bottom : 5px;
}

#activitiesSummaries .reportOptions{
  margin-top : 5px;
  margin-left : 30px;
}

#activitiesSummaries .thirdPartBlock{
  width: 25%;
}

#activitiesSummaries .thirdPartBlock .input input{
  width: 35%;
}

#activitiesSummaries .selectList{
  width: 39%;
}

/************* Review Reports *****************/

.review-table th{text-align:left}
.review-table th, .review-table td{border:1px solid #000;padding: 10px 5px}

.reviewTableHeader {
	background-color: #e5b8b7;
}

.review_lable_bg {
	background:#d0dbe9;
}

.review_lable {
	font-weight:bold;
	float:left;
}

.review_lable_note_red {
/* 	font-weight:bold; */
	color:#FF0000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0px groove #800000;
    text-align: left;
}

.review_lable_green{
	background:#00ff00;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0px groove #800000;
    text-align: left;
}

.review_lable_amber {
	background:#ffff00;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0px groove #800000;
    text-align: left;
}

.review_lable_red {
	background:#ff0000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0px groove #800000;
    text-align: left;
}

.review_rating_color_box{

    display: inline-block;
    margin: auto;
	width:80px;
	height:34px;
}

.column-left-grid{ float: left; width: 33%; }

.review_rating_row {
    vertical-align:center; //centre the input vertically

}

.review_rating_row input[type="radio"] {
       position: inherit;
       display: inline;
       margin: 10px 4px;
}

.tool-label{
  font-weight: bold;
  float: left;
  width: 200%;
}

.publication-grid{
  float: left;
  width: 200%;
  display:inline-block;
}

.column-center-grid{ display: inline-block; width: 33%; }

.grid{
  padding-bottom: 5px;
}

.review_rating_row div{
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.wrap_tx {
     width:350px;
     word-wrap:break-word;
 }
 
 .autofil_bg{ background: #ADD6FF; }





#flagship-reporting th{text-align:left}
#flagship-reporting th, #flagship-reporting td{border:1px solid #000;padding: 10px 5px}
.flagship-first_col{background:#d0dbe9;}
.flagship-output-progress-col{background:#978a63;}
.flagship-notice{color:#FF0000}
.flagship-radio_box{width:40px;height:30px}
.flagship-green{background:#00ff00}
.flagship-yellow{background:#ffff00}
.flagship-red{background:#ff0000}
.flagship-single_row{clear:both}
.flagship-single_row div{float:left}
.flagship-title{font-weight:bold}

.scorecard-green{background:#008000;height:25px;padding:5px 0px 0px 10px;color:#fff}
.scorecard-yellow{background:#ffff00;height:25px;padding:5px 0px 0px 10px;}
.scorecard-red{background:#ff0000;height:25px;padding:5px 0px 0px 10px;color:#fff}

/*************** FOOTER ****************/
#footerContainer {
  background-image: url("../../images/global/footer-background.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  clear: both;
  height: 200px;
  padding-top: 50px;
  text-align: left;
  width:100%;
}

#footerContainer.little {
  background-image: url("../../images/global/footer-background-small.jpg");
  height: 80px;
}

#footerContainer #centres-logos {
  margin-left: 40px;  
}

#footerContainer #centres-logos img {
  margin-left: 5px;
}

#footerContainer #secondaryLogos {
  float: right;
}

#footerContainer #rowTwo {
  margin-top: 30px;
}

#footerContainer #reportIssue {
  float: left;
  margin-left: 60px;
  margin-top: 15px;
  font-weight: bold;
}

#footerContainer #copyright {
  float: right;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 15px;
  text-align: right;
}


.region-row {
	text-align: center;
	background-color: #aeaaaa;
}

.user-data {
	background-color: #c6e0b4;
	width: 85px;
}

.calculated-figures {
	background-color: #fff2cc;
	width: 85px;
}

.totals {
	background-color: #d9e1f2;
	width: 85px;
}

.sum-color {
	background-color: #d9e1f2;
}

.budget-gender-def {
	text-align: right;
}

.total-per-source-def {
	font-weight: bold;
}

.budget-region-header{
	text-align: center;
}

.budget-region-def{
	font-weight: bold;
	width: 120px;
}

.budget-donor-total {
	font-weight: bold;
}

.budget-topics{
	font-weight: bold;
	font-style: italic;
}

.fsfr-rpt textarea {
	width: 85%;
}

.rsp-message {
	color: green;
	font-weight: bold;
}

.bold-title {
	font-weight: bold;
}
